:root{
    --cub-lion: #EEC250;
    --cub-tiger: #DA834C;
    --cub-wolf: #C6443F;
    --cub-bear: #9FC2DC;
    --cub-webelos: #8E9F63;
    --cub-arrow-of-light: #E9D8C5;
    --cub-blue: #002F6D;
    --cub-yellow: #FFCE04;
    --scouting-red: #CE1126;
    --scouting-blue: #003F87;
    --scouting-dark-blue: #003366;
    --scouting-tan: #D6CEBD;
    --scouting-light-tan: #E9E9E4;
    --scouting-warm-gray: #515354;
    --scouting-pale-gray: #858787;
    --scouting-dark-gray: #232528;
    --scouting-dark-tan: #AD9D7B;
    --scouting-pale-blue: #9AB3D5;
    --scouting-olive: #243E2C;
    --white: #FFFFFF;
}